# USE A BETTER NAME THAN THIS Otter Case Study Challenge

### Importing the Data

In [1]:
import pandas as pd

In [2]:
original_dataset = pd.read_csv('css_public_all_ofos_locations.csv', 
                   sep = chr(1), 
                   low_memory = False)

In [3]:
original_dataset.head(3)

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
0,9744,Loco Coco,caviar,NaN,40.765004,-73.965961,NaN,US,TRUE,loco_coco,NaN,NaN,NaN
1,4903,Musubi,caviar,NaN,45.504641,-122.643806,NaN,US,FALSE,musubi,NaN,NaN,NaN
2,4723,The Bakers' Lounge,caviar,NaN,38.924559,-76.990115,NaN,US,FALSE,the_bakers_lounge,NaN,NaN,NaN

In [4]:
original_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644089 entries, 0 to 644088
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   restaurant_id      644089 non-null  object
 1   name               644086 non-null  object
 2   platform           644087 non-null  object
 3   sub_platform       599311 non-null  object
 4   latitude           644086 non-null  object
 5   longitude          644070 non-null  object
 6   city               56196 non-null   object
 7   country            644071 non-null  object
 8   active             643867 non-null  object
 9   standardized_name  643872 non-null  object
 10  restaurant_chain   169 non-null     object
 11  delivery_radius    354661 non-null  object
 12  geom               0 non-null       float64
dtypes: float64(1), object(12)
memory usage: 63.9+ MB

In [5]:
print('The provided data has {0} rows and {1} columns of restaurant data.'.format(
    original_dataset.shape[0], 
    original_dataset.shape[1])
     )

The provided data has 644089 rows and 13 columns of restaurant data.

In [6]:
### PSEUDOCODE 

# are there some visualizations i can include here?
# don't make visualizations needlessly, doesn't make sense unless it's actually useful

# AT THE END OF THE PROJECT WHAT IF I USED BASEMAP TO MAP THE BEFORE AND AFTER
# AND I CAN ALSO JUST CREATE A MAP WHERE ALL THE DATA POINTS ACTUALLY EXIST ON
# THINK MORE ABOUT THIS, THERE'S ROOM FOR SOMETHING REALLY VALUABLE WITH GRAPHING ACTUAL GEOLOGICAL POINTS

In [7]:
### PSEUDOCODE 

# DONE    look up the ones with missing name and fill it in, simple 
# DONE    for those missing lat 
# DONE    or long values, which isn't a lot, just research and fill it in
# do the same with country values, although a glance at those values might reveal most of them, if not all, are US so it won't matter for a model anyways
# take an individual look at those that are lableled chains and explore these a little

# secondary priorities are to look more deeply at sub platform and delivery radius


# AT THE END OF THIS PROJECT I WANT TO IMPLEMENT A ML ALGO ON A CLEAN DATASET AND THEN COMPARE IT TO THE 'CORRECT' VALUE THAT I DETERMINE WITH SIMPLE LABELING FROM LAT AND LONG DATA

### Creating a New Dataset

In [8]:
# to keep the original provided dataset unaltered
# I am making a copy of the data to use for data cleaning, pre-processing, etc

data = original_dataset.copy()

I want to check to see if I can manually insert the missing names of the 3 rows missing values in the 'name' column.

In [9]:
# using simple boolean indexing to examine the rows with missing values for the 'name' column

print(data[data['name'].isnull()])

                    restaurant_id name      platform sub_platform latitude  \
34794                        None  NaN  delivery.com          NaN      NaN
236516  Recreation & Wellness Ctr  NaN           NaN          NaN      NaN
316021                  Suite 112  NaN           NaN          NaN      NaN

       longitude city country active standardized_name restaurant_chain  \
34794        NaN  NaN      US  FALSE               NaN              NaN
236516       NaN  NaN     NaN    NaN               NaN              NaN
316021       NaN  NaN     NaN    NaN               NaN              NaN

       delivery_radius  geom
34794              NaN   NaN
236516             NaN   NaN
316021             NaN   NaN

#### Deleting Rows with Little to No Value

Because there is almost no other data I can use, such as latitude and longitude data, to determine what these restaurants may be, I am deleting these rows of data entirely from the dataset.

In [10]:
data.dropna(subset = ['name'], inplace = True)
data.reset_index(inplace = True, drop = True)

In [11]:
print('The dataset now has {0} rows and {1} columns of restaurant data.'.format(
    data.shape[0], 
    data.shape[1])
     )

The dataset now has 644086 rows and 13 columns of restaurant data.

### Removing Columns

Explain why some columns are removed and why they might not offer much value for what I'm trying to do and why.

In [12]:
data.drop(columns = ['city', 'restaurant_chain', 'delivery_radius', 'geom', 'standardized_name'], inplace = True)

data.columns

Index(['restaurant_id', 'name', 'platform', 'sub_platform', 'latitude',
       'longitude', 'country', 'active'],
      dtype='object')

### Exploring Missing Latitude and Longitude Values

In [13]:
# checking what missing values may exist in the latitude column
# using simple boolean indexing to examine the rows with missing values for the 'latitude' column

print(data[data['latitude'].isnull()])

Empty DataFrame
Columns: [restaurant_id, name, platform, sub_platform, latitude, longitude, country, active]
Index: []

It appears that getting rid of the rows where the value in the 'name' column was missing also removed the rows that were missing latitude data.

In [14]:
# using the same method as above to examine the rows with missing values for the 'longitude' column

print('Only a few of the rows are displayed for easier viewing.\n')
print('--------------------------------------------------------\n')
print(data[data['longitude'].isnull()][:5])    # remove the indexing to see all rows with missing 'longitude' values

Only a few of the rows are displayed for easier viewing.

--------------------------------------------------------

                                            restaurant_id name  \
139275                                    20 Hugus Alley"  USD
187182                                           Ste 190"  USD
194074                                           Ste 170"  USD
201826  (b/t N P St & N Rhode Island Ave) in Logan Cir...  USD
204009                                           Ste 100"  USD

                                                 platform sub_platform  \
139275  [["open: 12:00, close: 18:00"], ["open: 12:00,...         TRUE
187182                       [[], [], [], [], [], [], []]        FALSE
194074  [["open: 12:00, close: 21:00"], ["open: 12:00,...         TRUE
201826  [["open: 12:00, close: 21:30"], ["open: 12:00,...         TRUE
204009  [["open: 12:00, close: 18:30"], ["open: 12:00,...         TRUE

                             latitude longitude country active
139275                      sugarfina       NaN     NaN     45
187182             ohjah_noodle_house       NaN     NaN     40
194074             novecento_pizzeria       NaN     NaN     50
201826  14th_street_cafe_asian_bistro       NaN     NaN     40
204009  straight_from_philly_steakout       NaN     NaN     45

It appears that, for whatever reason, data was not input and/or collected properly for the data points above. The values within each column seem to be in the wrong place. However, I can simply:
- Look these restaurants up on the internet
- Fill in + replace the existing values with correct values

##### Correct Information for Restaurants
I'll be looking up the restaurants up by their names, which I am presuming are the values found in the 'latitude' column. I can confirm I am collecting information for the correct restaurants with the other information available (but misplaced) in the other columns.
- Row 139275 (Sugarfina) [info](https://www.yelp.com/biz/sugarfina-pasadena-pasadena-2)
- Row 187182 (Ohjah Nooodle House) [info](https://www.yelp.com/biz/ohjah-noodle-house-las-vegas-3)
- Row 194074 (Novecento Pizzeria) [info](https://www.yelp.com/biz/novecento-pizzeria-las-vegas)
- Row 201826 (14th St Cafe Asian Bistro) [info](https://www.yelp.com/biz/14th-st-cafe-asian-bistro-washington-2)
- Row 204009 (Straight From Philly Steakout) [info](https://www.yelp.com/biz/straight-from-philly-steakout-henderson-3)
- Row 229923 (Tumbao Buns - Downtown Miami) [info](https://www.yelp.com/biz/tumbao-buns-downtown-miami-miami-2)
    - The address found on the Yelp page doesn't match with the one provided on the data set. This is most likely due to the fact that this restaurant is technically a food truck, a mobile restuarant that can have different locations. The correct address is listed [here](https://postmates.com/merchant/tumbao-buns-miami)
- Row 250285 (Dunkin Donuts) [info](https://www.yelp.com/biz/dunkin-donuts-pompano-beach-7?osq=dunkin+donuts+locations)
- Row 294759 (Dos Coyotes Border Cafe) [info](https://www.grubhub.com/restaurant/dos-coyotes-border-cafe-8519-bond-rd-ste-100-elk-grove/1244011)
- Row 298938 (China One) [info](https://www.grubhub.com/restaurant/china-one-7080-n-durango-dr-ste-130-las-vegas/394082)
- Row 302088 (Fat Boy) [info](https://www.yelp.com/biz/fat-boy-henderson-2)
- Row 341276 (Au Bon Pain) [info](https://www.yelp.com/biz/au-bon-pain-chicago-14)
- Row 344993 (Ohjah Noodle House 2) [info](https://www.grubhub.com/restaurant/ohjah-noodle-house-35-e-horizon-ridge-pkwy-ste-160-henderson/1121695)
    - This may, interestingly, be the same as the other Ohjah Noodle House listed above. Investigate further.
- Row 355632 (Cinnabon) [info](https://www.zomato.com/maricopa-county-az/scholtzskys-cinnabon-1-goodyear)
- Row 379700 (Thailicious Authentic Thai & Vegan) [info](https://www.yelp.com/biz/thailicious-authentic-thai-and-vegan-henderson?osq=thailicious)
- Row 391644 (Boss's Slow Smoked BBQ) [info](https://www.yelp.com/biz/bosss-slow-smoked-bbq-n-las-vegas)
- Row 415759 (Buon Gusto Ristorante) [info](https://www.yelp.com/biz/buon-gusto-ristorante-henderson)

A closer look at our actual data set shows that the rows of data above are not unique data points but instead are repeats of rows directly preceding them.

In [15]:
print(data.iloc[250284:250286,:])

                               restaurant_id            name  \
250284  70f366b3-a6fd-4634-8e57-7364e8f23cd2  Dunkin' Donuts
250285                          Fl Turnpike"             USD

                            platform sub_platform       latitude  \
250284                     postmates   restaurant    28.51478909
250285  [[], [], [], [], [], [], []]        FALSE  dunkin_donuts

           longitude country active
250284  -81.49956571      US    NaN
250285           NaN     NaN     40

In [16]:
indices_missing_lat = [139275, 187182, 194074, 
                    201826, 204009, 229923, 
                    250285, 294759, 298938, 
                    302088, 341276, 344993, 
                    355632, 379700, 391644, 415759]

for index in indices_missing_lat:
    print(data.iloc[index - 1,1])

Sugarfina
Ohjah Noodle House
Novecento Pizzeria
14th Street Cafe Asian Bistro
Straight From Philly Steakout
Tumbao Buns
Dunkin' Donuts
Dos Coyotes Border Cafe
China One
Fat Boy
Au Bon Pain
Ohjah Noodle House #2
Cinnabon
Thailicious
Boss's Slow Smoked BBQ
Buon Gusto Ristorante

The simple solution is to remove the rows missing 'longitude' values, as they represent duplicate entries.

In [17]:
data.dropna(subset = ['longitude'], inplace = True)
data.reset_index(inplace = True, drop = True)

In [18]:
print('The dataset now has {0} rows and {1} columns of restaurant data.'.format(
    data.shape[0], 
    data.shape[1])
     )

The dataset now has 644070 rows and 8 columns of restaurant data.

## A Quick Glance at Country Values

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644070 entries, 0 to 644069
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   restaurant_id  644070 non-null  object
 1   name           644070 non-null  object
 2   platform       644070 non-null  object
 3   sub_platform   599295 non-null  object
 4   latitude       644070 non-null  object
 5   longitude      644070 non-null  object
 6   country        644070 non-null  object
 7   active         643850 non-null  object
dtypes: object(8)
memory usage: 39.3+ MB

In [20]:
data['country'].describe()

count     644070
unique        27
top           US
freq      643890
Name: country, dtype: object

Most of the data points have 'US' listed in the 'country' column, so there would be value in examining the rows in which this is not the case.

In [21]:
not_us_data = data[data['country'] != 'US']

not_us_data

,restaurant_id,name,platform,sub_platform,latitude,longitude,country,active
96549,",USD,[[""""open: 12:00","close: 20:30""""]","[""""open: 12:00","close: 20:30""""]","[""""open: 12:00","close: 20:30""""]","close: 20:30""""]","close: 20:30""""]"
96958,",USD,[[""""open: 11:30","close: 20:00""""]","[""""open: 11:30","close: 20:00""""]","[""""open: 11:30","close: 20:00""""]","close: 20:00""""]","close: 20:00""""]"
97841,",USD,[[""""open: 13:00","close: 23:00""""]","[""""open: 13:00","close: 23:00""""]","[""""open: 13:00","close: 23:00""""]","close: 23:00""""]","close: 00:00""""]"
104012,",USD,[[]",[],[],[],[],[],FALSE,NaN
104302,",USD,[[""""open: 17:00","close: 23:30""""]",[],"[""""open: 17:00","close: 23:00""""]","[""""open: 17:00","[""""open: 17:00","[]]"""
...,...,...,...,...,...,...,...,...
426413,",USD,[[""""open: 17:00","close: 19:00""""]","[""""open: 17:00","close: 19:00""""]","[""""open: 17:00","close: 19:00""""]","close: 19:00""""]","close: 21:30""""]"
428302,",USD,[[]",[],[],[],[],[],FALSE,NaN
431379,",USD,[[""""open: 14:00","close: 22:00""""]","[""""open: 14:00","close: 22:00""""]","[""""open: 14:00","close: 22:00""""]","close: 22:00""""]","close: 22:00""""]"
433563,",USD,[[]","[""""open: 17:00","close: 20:00""""]","[""""open: 17:00","close: 20:00""""]","[""""open: 18:30","[""""open: 17:00","[""""open: 17:00"
440752,",USD,[[""""open: 11:00","close: 20:00""""]","[""""open: 11:00","close: 20:00""""]","[""""open: 11:00","close: 20:00""""]","close: 20:00""""]","close: 20:00""""]"

It seems possible that the rows of data that don't state 'US' in the country column are also filled with data that was entered or collected incorrectly. 

Upon observation, there seems to be a mix of restaurant hours, names, delivery radii, booleans, and NaNs found throughout this data.

In [22]:
((644070 - 643890) / 644070) * 100

0.02794727281196143

For the sake of time, because only 0.03% of the data is mislabeled as such, the appropriate solution at this time is to simply remove these data points.

In [23]:
data = data[data['country'] == 'US']

print('The dataset now has {0} rows and {1} columns of restaurant data.'.format(
    data.shape[0], 
    data.shape[1])
     )

The dataset now has 643890 rows and 8 columns of restaurant data.

## Latitude

include an explanation about how I intend to go about solving the problem and why it's important to clean and process the latitude and longitude as much as possible.

In [24]:
data.dtypes

restaurant_id    object
name             object
platform         object
sub_platform     object
latitude         object
longitude        object
country          object
active           object
dtype: object

In [25]:
data.loc[0]

restaurant_id          9744
name              Loco Coco
platform             caviar
sub_platform            NaN
latitude          40.765004
longitude        -73.965961
country                  US
active                 TRUE
Name: 0, dtype: object

Explain why I am making changes to the following columns and not to others.

In [26]:
data['name'] = data['name'].astype('str')
data['platform'] = data['platform'].astype('str')
data['latitude'] = data['latitude'].astype('float')
data['longitude'] = data['longitude'].astype('float')

In [27]:
data['latitude'].value_counts(dropna = True).sort_values(ascending = False)

-90.000000    1683
 40.762646     101
 42.825685      80
 34.039710      67
 35.279820      66
              ...
 27.036954       1
 33.996883       1
 40.779721       1
 33.998372       1
 32.162496       1
Name: latitude, Length: 544594, dtype: int64

Out of curiosity, I want to run the same observations on the longitude column.

In [28]:
data['longitude'].value_counts(dropna = False).sort_values(ascending = False)

 0.000000      1722
-73.969185      101
-118.298741     100
-73.879458       80
-118.298796      67
               ...
-122.433768       1
-90.110298        1
-117.048787       1
-75.224099        1
-81.751534        1
Name: longitude, Length: 541745, dtype: int64

Interestingly, there are a lot of data points with a longitude value of 0. I will explore this further in a later section.

In [29]:
lat_90 = data[data['latitude'] == -90.000000]

lat_90.head()

,restaurant_id,name,platform,sub_platform,latitude,longitude,country,active
60,59739,beQu Juice,delivery.com,NaN,-90.0,0.0,US,FALSE
64,63820,Gino's East,delivery.com,NaN,-90.0,0.0,US,FALSE
100,64603,SORI SUSHI,delivery.com,NaN,-90.0,0.0,US,FALSE
201,63305,ezras food,delivery.com,NaN,-90.0,0.0,US,FALSE
212,57676,cupping Room Cafe,delivery.com,NaN,-90.0,0.0,US,FALSE

In [30]:
lat_90['platform'].value_counts(dropna = False, normalize = True)

delivery.com    1.0
Name: platform, dtype: float64

In [31]:
lat_90['active'].value_counts(dropna = False, normalize = True)

FALSE    1.0
Name: active, dtype: float64

In [32]:
lat_90['longitude'].value_counts(dropna = False, normalize = True)

0.0    1.0
Name: longitude, dtype: float64

For all of the data points with a latitude value of -90, three interesting things the data points all have in common are:

- All are considered "inactive"
- All of these data points shared the platform delivery.com
- All have a longitude value of 0

In [33]:
data['platform'].value_counts(dropna = False)

doordash        354553
postmates       110242
grubhub          68579
ubereats         65741
delivery.com     34807
caviar            9968
Name: platform, dtype: int64

Quickly checking that it's not an issue with all delivery.com data but just the ones found earlier.

In [34]:
data[data['platform'] == 'delivery.com']

,restaurant_id,name,platform,sub_platform,latitude,longitude,country,active
47,68986,Crown Fried Chicken,delivery.com,NaN,40.634279,-73.949846,US,FALSE
48,89239,Capri Ristorante,delivery.com,NaN,41.865140,-87.789410,US,TRUE
49,73694,Fin Sushi Bar,delivery.com,NaN,41.965212,-87.673360,US,TRUE
50,86326,Bon Chon - Harvard Square,delivery.com,NaN,42.371670,-71.121040,US,TRUE
51,68391,Pizza Man,delivery.com,NaN,33.931870,-117.949910,US,TRUE
...,...,...,...,...,...,...,...,...
44772,61696,Balade,delivery.com,NaN,40.730305,-73.983176,US,TRUE
44773,63702,Hello Pasta,delivery.com,NaN,40.759411,-73.970211,US,TRUE
44774,71933,Napoli Italian Restaurant By Papa Zack,delivery.com,NaN,29.731403,-95.475292,US,TRUE
44775,54099,Fatburger,delivery.com,NaN,30.621215,-96.342298,US,TRUE
44776,36134,Pita Grill,delivery.com,NaN,40.764990,-73.987687,US,TRUE

My suspicion is that the data represented incorrectly with latitude values of -90 may already exist in the data set somehow. I'll check that now with some quick searches through the data set.

In [35]:
data[data['name'] == 'beQu Juice']

,restaurant_id,name,platform,sub_platform,latitude,longitude,country,active
60,59739,beQu Juice,delivery.com,NaN,-90.000000,0.000000,US,FALSE
27394,73431,beQu Juice,delivery.com,NaN,40.728651,-73.986022,US,TRUE

It seems there is enough here to support my suspicions, as it seems like information on this platform was either updated and/or re-entered, so if I can confirm this pattern I can simply remove the rows with latitude values of -90.

In [36]:
def check_reentries(name):
    df = data[data['name'] == name]
    if df.shape[1] > 1:
        return True
    if df.shape[1] == 1:
        return False
    else:
        return print('examine more closely')

In [37]:
check_reentries('Gino\'s East')

True

In [38]:
check_reentries('SORI SUSHI')

True

In [39]:
check_reentries('cupping Room Cafe')

True

I can remove the entries with -90 stated for their latitude values as they are simply not updated versions of data that exist already in the dataset.

In [40]:
data = data[data['latitude'] != -90.000000]

data['latitude'].value_counts(dropna = False)

40.762646    101
42.825685     80
34.039710     67
35.279820     66
34.039743     61
            ...
38.780604      1
37.160258      1
33.425420      1
47.487414      1
25.760583      1
Name: latitude, Length: 544593, dtype: int64

## Longitude

In [41]:
data['longitude'].value_counts(dropna = False).sort_values(ascending = False)

-73.969185     101
-118.298741    100
-73.879458      80
-118.298796     67
-120.661130     66
              ...
-122.433768      1
-90.110298       1
-117.048787      1
-75.224099       1
-81.751534       1
Name: longitude, Length: 541745, dtype: int64

Earlier, I discovered many data points had a longitude value of 0. Removing the data points with latitude values of -90 should have removed many of the rows with longitude values of 0.

In [45]:
data[data['longitude'] == 0]

,restaurant_id,name,platform,sub_platform,latitude,longitude,country,active
137,5648,JESSICA HUI PLACEHOLDER,caviar,NaN,0.0,0.0,US,FALSE
160,1526,The Halal Guys,caviar,NaN,0.0,0.0,US,FALSE
312,2045,ZipChops - Venice,caviar,NaN,0.0,0.0,US,FALSE
325,6018,Red Hot Chili Pepper,caviar,NaN,0.0,0.0,US,FALSE
402,1229,DUPLICATE,caviar,NaN,0.0,0.0,US,FALSE
816,6060,[Deprecated] Saffron Indian Bistro,caviar,NaN,0.0,0.0,US,FALSE
1016,653,BLANK,caviar,NaN,0.0,0.0,US,FALSE
1589,9239,Bonci-DNU,caviar,NaN,0.0,0.0,US,FALSE
2018,2277,TEST ONLY - DAN SCHWARTZ,caviar,NaN,0.0,0.0,US,FALSE
5569,6595,Bluestem Brasserie,caviar,NaN,0.0,0.0,US,FALSE
5674,10338,SquareTest,caviar,NaN,0.0,0.0,US,FALSE
6068,438,The Gryphon,caviar,NaN,0.0,0.0,US,FALSE
6129,5012,TESTJH,caviar,NaN,0.0,0.0,US,FALSE
6420,623,TRASH,caviar,NaN,0.0,0.0,US,FALSE
6862,7249,Manpuku,caviar,NaN,0.0,0.0,US,FALSE
9105,6874,Libby Pizza,caviar,NaN,0.0,0.0,US,FALSE
10351,701,BLANK,caviar,NaN,0.0,0.0,US,FALSE
10634,10367,Plum Cafe,caviar,NaN,0.0,0.0,US,FALSE
10693,1260,Zento Trash Bucket- DO NOT ENABLE,caviar,NaN,0.0,0.0,US,FALSE
12074,61898,Pie-Eyed Pizzeria,delivery.com,NaN,0.0,0.0,US,FALSE
12875,382,Available Merchant ID,caviar,NaN,0.0,0.0,US,FALSE
15747,90142,Dickey's Bbq Pit,delivery.com,NaN,0.0,0.0,US,FALSE
16677,1919,Cheeto's Promo Preview,caviar,NaN,0.0,0.0,US,FALSE
16844,3308,Bird & Bone,caviar,NaN,0.0,0.0,US,FALSE
17415,3366,Viking Soul,caviar,NaN,0.0,0.0,US,FALSE
19858,6653,DISABLED Lama Beans,caviar,NaN,0.0,0.0,US,FALSE
20259,6932,[Desprecated] Basil Thai Restaurant & Bar,caviar,NaN,0.0,0.0,US,FALSE
21283,6841,JESSICA TEST,caviar,NaN,0.0,0.0,US,FALSE
22880,6316,Thai Palace,caviar,NaN,0.0,0.0,US,FALSE
23763,5972,Eden Silk Road Cuisine (REUSE MERCHANT),caviar,NaN,0.0,0.0,US,FALSE
24301,929,Michelle's Kitchen,delivery.com,NaN,0.0,0.0,US,FALSE
27623,2525,NYC TRASH,caviar,NaN,0.0,0.0,US,FALSE
27877,64749,Abhineet Bhatnagar,delivery.com,NaN,0.0,0.0,US,FALSE
30631,355,Open,caviar,NaN,0.0,0.0,US,FALSE
39902,63760,bgg grocery,delivery.com,NaN,0.0,0.0,US,FALSE
70081,404666,Taco Bueno (6001 W Interstate 40),doordash,doordash,0.0,0.0,US,FALSE
70233,27112,Magic Wok,doordash,doordash,0.0,0.0,US,FALSE
110136,404513,BGR The Burger Joint (Towne Ctr Blvd),doordash,doordash,0.0,0.0,US,FALSE
115763,405297,Charleys Philly Steaks (Clear Creek Rd),doordash,doordash,0.0,0.0,US,FALSE

There aren't very many rows with longitude values of 0, but interestingly the rows also have latitude values of 0. These will need to be checked using the function I defined earlier to see if duplicates exist in the dataset elsewhere.

In [46]:
# check duplicates for data points with longitude and latitude values of 0

## Checking Active and Inactive

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 642207 entries, 0 to 644069
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   restaurant_id  642207 non-null  object
 1   name           642207 non-null  object
 2   platform       642207 non-null  object
 3   sub_platform   599115 non-null  object
 4   latitude       642207 non-null  float64
 5   longitude      642207 non-null  float64
 6   country        642207 non-null  object
 7   active         642011 non-null  object
dtypes: float64(2), object(6)
memory usage: 44.1+ MB

## Exploring Sub-Platform Values

In [43]:
data['sub_platform'].value_counts(dropna = False)

doordash      354553
restaurant    110242
grubhub        68579
ubereats       65741
NaN            43092
Name: sub_platform, dtype: int64

This column is an interesting column because if a restaurant only offers delivery via one platform, it makes perfect sense why the sub-platform column will have NaN values.

At a glance, each data point at this stage of data cleaning has data for the 'platform' column. However, it is difficult to check or confirm whether each of the data points does or doesn't have a sub-platform. 

For deeper analyses, it might make sense to change NaN values to something like 'None', but for the scope of this assignment I do not intend to use this column any further for analyses and will leave the column as is. In fact, it might be useful to know which rows have a sub-platform depending on the type of analyses in the future, and therefore there is value in leaving in this column for possible transformations in the future.

## Creating My Target Column

In [44]:
# data['duplicate'] = data.duplicated(subset = ['latitude','longitude'], keep = False) 

# # keep = False labels everything that was duplicated as True (there's a duplicate of it in the data set)
# # creating another column is possible with keep = first if you want to leave the first duplicate labeled as an original just for a simple aggregation

# print(data['duplicate'].head())