In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('css_public_all_ofos_locations.csv', 
                   sep = chr(1), 
                   low_memory = False)

In [7]:
data.head(10)

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
0,9744,Loco Coco,caviar,NaN,40.765004,-73.965961,NaN,US,TRUE,loco_coco,NaN,NaN,NaN
1,4903,Musubi,caviar,NaN,45.504641,-122.643806,NaN,US,FALSE,musubi,NaN,NaN,NaN
2,4723,The Bakers' Lounge,caviar,NaN,38.924559,-76.990115,NaN,US,FALSE,the_bakers_lounge,NaN,NaN,NaN
3,4128,Parm - Battery Park City,caviar,NaN,40.71418,-74.015568,NaN,US,TRUE,parm_-_battery_park_city,NaN,NaN,NaN
4,5690,Derek Test Merchant,caviar,NaN,1,2,NaN,US,FALSE,derek_test_merchant,NaN,NaN,NaN
5,2827,The Plant Cafe - California & Pine (FiDi),caviar,NaN,37.792829,-122.397881,NaN,US,FALSE,the_plant_cafe_-_california_pine_fidi,NaN,NaN,NaN
6,4850,Minton's,caviar,NaN,40.804677,-73.952299,NaN,US,FALSE,minton_s,NaN,NaN,NaN
7,6301,Brazilian Bowl - Albany Park,caviar,NaN,41.968618,-87.708681,NaN,US,FALSE,brazilian_bowl_-_albany_park,NaN,NaN,NaN
8,9006,Gourmet Palace China Bistro,caviar,NaN,34.164525,-118.414288,NaN,US,TRUE,gourmet_palace_china_bistro,NaN,NaN,NaN
9,6208,Liberty Burger - Keller,caviar,NaN,32.969041,-96.820323,NaN,US,TRUE,liberty_burger_-_keller,NaN,NaN,NaN

In [13]:
data['restaurant_id'].describe()

count                   644089
unique                  578742
top       ,USD,[[""open: 12:00
freq                        42
Name: restaurant_id, dtype: object

In [14]:
data['name'].describe()

count     644086
unique    419800
top       Subway
freq        8554
Name: name, dtype: object

In [15]:
data['platform'].describe()

count       644087
unique          46
top       doordash
freq        354553
Name: platform, dtype: object

In [16]:
data['sub_platform'].describe()

count       599311
unique          30
top       doordash
freq        354553
Name: sub_platform, dtype: object