In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('css_public_all_ofos_locations.csv', 
                   sep = chr(1), 
                   low_memory = False)

In [3]:
data.head(10)

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
0,9744,Loco Coco,caviar,NaN,40.765004,-73.965961,NaN,US,TRUE,loco_coco,NaN,NaN,NaN
1,4903,Musubi,caviar,NaN,45.504641,-122.643806,NaN,US,FALSE,musubi,NaN,NaN,NaN
2,4723,The Bakers' Lounge,caviar,NaN,38.924559,-76.990115,NaN,US,FALSE,the_bakers_lounge,NaN,NaN,NaN
3,4128,Parm - Battery Park City,caviar,NaN,40.71418,-74.015568,NaN,US,TRUE,parm_-_battery_park_city,NaN,NaN,NaN
4,5690,Derek Test Merchant,caviar,NaN,1,2,NaN,US,FALSE,derek_test_merchant,NaN,NaN,NaN
5,2827,The Plant Cafe - California & Pine (FiDi),caviar,NaN,37.792829,-122.397881,NaN,US,FALSE,the_plant_cafe_-_california_pine_fidi,NaN,NaN,NaN
6,4850,Minton's,caviar,NaN,40.804677,-73.952299,NaN,US,FALSE,minton_s,NaN,NaN,NaN
7,6301,Brazilian Bowl - Albany Park,caviar,NaN,41.968618,-87.708681,NaN,US,FALSE,brazilian_bowl_-_albany_park,NaN,NaN,NaN
8,9006,Gourmet Palace China Bistro,caviar,NaN,34.164525,-118.414288,NaN,US,TRUE,gourmet_palace_china_bistro,NaN,NaN,NaN
9,6208,Liberty Burger - Keller,caviar,NaN,32.969041,-96.820323,NaN,US,TRUE,liberty_burger_-_keller,NaN,NaN,NaN

In [4]:
data['restaurant_id'].describe()

count                   644089
unique                  578742
top       ,USD,[[""open: 12:00
freq                        42
Name: restaurant_id, dtype: object

In [5]:
data['name'].describe()

count     644086
unique    419800
top       Subway
freq        8554
Name: name, dtype: object

In [6]:
data['platform'].describe()

count       644087
unique          46
top       doordash
freq        354553
Name: platform, dtype: object

In [7]:
data['sub_platform'].describe()

count       599311
unique          30
top       doordash
freq        354553
Name: sub_platform, dtype: object

In [8]:
data['sub_platform'].value_counts(dropna = False, ascending = True)

 close: 14:00""]                                                                                                                                                                                       1
 [""open: 19:00                                                                                                                                                                                        1
[["open: 12:00, close: 21:00"], ["open: 12:00, close: 20:30"], ["open: 12:00, close: 20:30"], ["open: 12:00, close: 20:30"], ["open: 12:00, close: 20:30"], ["open: 12:00, close: 20:30"], []]         1
 [""open: 16:00                                                                                                                                                                                        1
 [""open: 15:00                                                                                                                                                                                        1
 [""open: 21:00                                                                                                                                                                                        1
 [""open: 12:00                                                                                                                                                                                        1
 [""open: 13:00                                                                                                                                                                                        2
 [""open: 17:00                                                                                                                                                                                        2
 [""open: 18:00                                                                                                                                                                                        2
 close: 22:30""]                                                                                                                                                                                       2
 close: 19:30""]                                                                                                                                                                                       3
 close: 18:00""]                                                                                                                                                                                       3
 close: 17:00""]                                                                                                                                                                                       3
FALSE                                                                                                                                                                                                  4
 close: 19:00""]                                                                                                                                                                                       4
 close: 13:30""]                                                                                                                                                                                       4
 close: 20:30""]                                                                                                                                                                                       7
 close: 21:30""]                                                                                                                                                                                       7
 close: 23:00""]                                                                                                                                                                                       9
TRUE                                                                                                                                                                                                  12
 close: 00:00""]                                                                                                                                                                                      14
 close: 22:00""]                                                                                                                                                                                      15
 []                                                                                                                                                                                                   23
 close: 20:00""]                                                                                                                                                                                      28
 close: 21:00""]                                                                                                                                                                                      45
NaN                                                                                                                                                                                                44778
ubereats                                                                                                                                                                                           65741
grubhub                                                                                                                                                                                            68579
restaurant                                                                                                                                                                                        110242
doordash                                                                                                                                                                                          354553
Name: sub_platform, dtype: int64

In [9]:
data.dtypes

restaurant_id         object
name                  object
platform              object
sub_platform          object
latitude              object
longitude             object
city                  object
country               object
active                object
standardized_name     object
restaurant_chain      object
delivery_radius       object
geom                 float64
dtype: object

In [10]:
data['city'].value_counts(dropna = False)

NaN            587893
Los Angeles      1837
New York         1630
Houston          1237
Chicago          1170
                ...
Amherst             1
VERADALE            1
CREVE COEUR         1
MADISON             1
PERRINE             1
Name: city, Length: 3061, dtype: int64

In [11]:
data['country'].value_counts(dropna = False, ascending = True)

5.99                     1
 [""open: 06:00          1
 [""open: 12:30          1
 [""open: 16:00          1
 [""open: 15:00          1
 close: 17:30""]         1
 [""open: 18:00          1
 [""open: 12:00          1
 [""open: 21:00          1
 close: 17:00""]         2
 close: 19:30""]         2
 [""open: 13:00          2
 close: 22:30""]         2
 close: 18:00""]         2
 [""open: 17:00          3
 close: 19:00""]         3
 close: 13:30""]         4
 close: 14:00""]         4
 close: 21:30""]         6
 close: 23:00""]         7
 close: 20:30""]         7
 close: 00:00""]        17
 close: 22:00""]        18
NaN                     18
FALSE                   23
 close: 20:00""]        29
 close: 21:00""]        40
US                  643891
Name: country, dtype: int64

In [12]:
data['restaurant_chain'].value_counts(dropna = False, ascending = True)

andre_s_bistro_bar                          1
19                                          1
toyama_japanese_restaurant                  1
41                                          1
24                                          1
46                                          1
7                                           1
midici_the_neapolitan_pizza_company         1
 close: 20:30""]]"                          1
22                                          1
5.99                                        1
2                                           1
36                                          1
 close: 17:30""]]"                          1
the_late_night_spot                         1
rock_star_burger                            1
20                                          1
blue_j_bar_lounge                           1
arrecife_sea_food_truck                     1
3                                           1
1                                           1
trillo_s_street_tacos                       1
6                                           2
 close: 22:30""]]"                          2
 close: 19:00""]]"                          2
8                                           2
 close: 18:00""]]"                          2
 close: 19:30""]]"                          2
 close: 21:30""]]"                          3
 close: 23:00""]]"                          6
 close: 22:00""]]"                          6
 close: 00:00""]]"                          8
 close: 20:00""]]"                          9
 close: 21:00""]]"                         17
TRUE                                       86
NaN                                    643920
Name: restaurant_chain, dtype: int64

In [13]:
data['delivery_radius'].value_counts(dropna = False, ascending = True)

6276                  1
11250                 1
8900                  1
chester_fried         1
3                     1
                  ...
5000              24948
6000              27990
8000              44233
7000             102714
NaN              289428
Name: delivery_radius, Length: 534, dtype: int64