# USE A BETTER NAME THAN THIS Otter Case Study Challenge

## Importing and Exploring the Data

In [1]:
import pandas as pd

In [2]:
original_dataset = pd.read_csv('css_public_all_ofos_locations.csv', 
                   sep = chr(1), 
                   low_memory = False)

In [3]:
original_dataset.head(3)

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
0,9744,Loco Coco,caviar,NaN,40.765004,-73.965961,NaN,US,TRUE,loco_coco,NaN,NaN,NaN
1,4903,Musubi,caviar,NaN,45.504641,-122.643806,NaN,US,FALSE,musubi,NaN,NaN,NaN
2,4723,The Bakers' Lounge,caviar,NaN,38.924559,-76.990115,NaN,US,FALSE,the_bakers_lounge,NaN,NaN,NaN

In [4]:
original_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644089 entries, 0 to 644088
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   restaurant_id      644089 non-null  object
 1   name               644086 non-null  object
 2   platform           644087 non-null  object
 3   sub_platform       599311 non-null  object
 4   latitude           644086 non-null  object
 5   longitude          644070 non-null  object
 6   city               56196 non-null   object
 7   country            644071 non-null  object
 8   active             643867 non-null  object
 9   standardized_name  643872 non-null  object
 10  restaurant_chain   169 non-null     object
 11  delivery_radius    354661 non-null  object
 12  geom               0 non-null       float64
dtypes: float64(1), object(12)
memory usage: 63.9+ MB

In [12]:
print('The provided data has {0} rows and {1} columns of restaurant data.'.format(
    original_dataset.shape[0], 
    original_dataset.shape[1])
     )

The provided data has 644089 rows and 13 columns of restaurant data

In [ ]:
### PSEUDOCODE 

# are there some visualizations i can include here?
# don't make visualizations needlessly, doesn't make sense unless it's actually useful

# AT THE END OF THE PROJECT WHAT IF I USED BASEMAP TO MAP THE BEFORE AND AFTER
# AND I CAN ALSO JUST CREATE A MAP WHERE ALL THE DATA POINTS ACTUALLY EXIST ON
# THINK MORE ABOUT THIS, THERE'S ROOM FOR SOMETHING REALLY VALUABLE WITH GRAPHING ACTUAL GEOLOGICAL POINTS

In [5]:
### PSEUDOCODE 

# DONE    look up the ones with missing name and fill it in, simple 
# DONE    for those missing lat 
# or long values, which isn't a lot, just research and fill it in
# do the same with country values, although a glance at those values might reveal most of them, if not all, are US so it won't matter for a model anyways
# take an individual look at those that are lableled chains and explore these a little

# secondary priorities are to look more deeply at sub platform and delivery radius


# AT THE END OF THIS PROJECT I WANT TO IMPLEMENT A ML ALGO ON A CLEAN DATASET AND THEN COMPARE IT TO THE 'CORRECT' VALUE THAT I DETERMINE WITH SIMPLE LABELING FROM LAT AND LONG DATA

### Creating a New Dataset

In [6]:
# to keep the original provided dataset unaltered
# I am making a copy of the data to use for data cleaning, pre-processing, etc

data = original_dataset.copy()

I want to check to see if I can manually insert the missing names of the 3 rows missing values in the 'name' column.

In [7]:
# using simple boolean indexing to examine the rows with missing values for the 'name' column

print(data[data['name'].isnull()])

                    restaurant_id name      platform sub_platform latitude  \
34794                        None  NaN  delivery.com          NaN      NaN
236516  Recreation & Wellness Ctr  NaN           NaN          NaN      NaN
316021                  Suite 112  NaN           NaN          NaN      NaN

       longitude city country active standardized_name restaurant_chain  \
34794        NaN  NaN      US  FALSE               NaN              NaN
236516       NaN  NaN     NaN    NaN               NaN              NaN
316021       NaN  NaN     NaN    NaN               NaN              NaN

       delivery_radius  geom
34794              NaN   NaN
236516             NaN   NaN
316021             NaN   NaN

#### Deleting Rows with Little to No Value

Because there is almost no other data I can use, such as latitude and longitude data, to determine what these restaurants may be, I am deleting these rows of data entirely from the dataset.

In [13]:
data.dropna(subset = ['name'], inplace = True)

In [16]:
print('The dataset now has {0} rows and {1} columns of restaurant data.'.format(
    data.shape[0], 
    data.shape[1])
     )

The dataset now has 644086 rows and 13 columns of restaurant data

#### Filling in Missing Latitude and Longitude Values

In [17]:
# checking what missing values may exist in the latitude column
# using simple boolean indexing to examine the rows with missing values for the 'latitude' column

print(data[data['latitude'].isnull()])

Empty DataFrame
Columns: [restaurant_id, name, platform, sub_platform, latitude, longitude, city, country, active, standardized_name, restaurant_chain, delivery_radius, geom]
Index: []

It appears that getting rid of the rows where the value in the 'name' column was missing also removed the rows that were missing latitude data.

In [37]:
# using the same method as above to examine the rows with missing values for the 'longitude' column

print('Only a few of the rows are displayed for easier viewing.\n')
print('--------------------------------------------------------\n')
print(data[data['longitude'].isnull()][11:])    # remove the indexing to see all rows with missing 'longitude' values

Only a few of the rows are displayed for easier viewing.

--------------------------------------------------------

           restaurant_id name  \
344996          Ste 160"  USD
355635  at Schlotzsky's"  USD
379703          Ste 160"  USD
391647            Ste C"  USD
415762          Ste 100"  USD

                                                 platform sub_platform  \
344996  [["open: 12:00, close: 21:00"], ["open: 12:00,...         TRUE
355635  [["open: 07:00, close: 20:00"], ["open: 07:00,...         TRUE
379703                       [[], [], [], [], [], [], []]        FALSE
391647  [["open: 12:00, close: 20:00"], ["open: 12:00,...         TRUE
415762  [["open: 16:00, close: 20:00"], ["open: 12:00,...         TRUE

                      latitude longitude  city country active  \
344996    ohjah_noodle_house_2       NaN  5.99     NaN     40
355635                cinnabon       NaN  5.99     NaN     40
379703             thailicious       NaN  5.99     NaN     45
391647  boss_s_slow_smoked_bbq       NaN  5.99     NaN     45
415762   buon_gusto_ristorante       NaN  5.99     NaN     40

       standardized_name restaurant_chain  delivery_radius  geom
344996               NaN                6     Clark County   NaN
355635               NaN               19  Maricopa County   NaN
379703               NaN               41     Clark County   NaN
391647               NaN               36     Clark County   NaN
415762               NaN                3     Clark County   NaN

It appears that, for whatever reason, data was not input and/or collected properly for the data points above. The values within each column seem to be in the wrong place. However, I can simply:
- Look these restaurants up on the internet
- Fill in + replace the existing values with correct values

#### Researched Data for Restaurants
I'll be looking up the restaurants up by their names, which I am presuming are the values found in the 'latitude' column. I can confirm I am collecting information for the correct restaurants with the other information available (but misplaced) in the other columns.
- Row 139276 (Sugarfina) [info](https://www.yelp.com/biz/sugarfina-pasadena-pasadena-2)
- Row 187183 (Ohjah Nooodle House) [info](https://www.yelp.com/biz/ohjah-noodle-house-las-vegas-3)
- Row 194075 (Novecento Pizzeria) [info](https://www.yelp.com/biz/novecento-pizzeria-las-vegas)
- Row 201827 (14th St Cafe Asian Bistro) [info](https://www.yelp.com/biz/14th-st-cafe-asian-bistro-washington-2)
- Row 204010 (Straight From Philly Steakout) [info](https://www.yelp.com/biz/straight-from-philly-steakout-henderson-3)
- Row 229924 (Tumbao Buns - Downtown Miami) [info](https://www.yelp.com/biz/tumbao-buns-downtown-miami-miami-2)
    - The address found on the Yelp page doesn't match with the one provided on the data set. This is most likely due to the fact that this restaurant is technically a food truck, a mobile restuarant that can have different locations. The correct address is listed [here](https://postmates.com/merchant/tumbao-buns-miami)
- Row 250287 (Dunkin Donuts) [info](https://www.yelp.com/biz/dunkin-donuts-pompano-beach-7?osq=dunkin+donuts+locations)
- Row 294761 (Dos Coyotes Border Cafe) [info](https://www.grubhub.com/restaurant/dos-coyotes-border-cafe-8519-bond-rd-ste-100-elk-grove/1244011)
- Row 298940 (China One) [info](https://www.grubhub.com/restaurant/china-one-7080-n-durango-dr-ste-130-las-vegas/394082)
- Row 302090 (Fat Boy) [info](https://www.yelp.com/biz/fat-boy-henderson-2)
- Row 341279 (Au Bon Pain) [info](https://www.yelp.com/biz/au-bon-pain-chicago-14)
- Row 344996 (Ohjah Noodle House 2) [info](https://www.grubhub.com/restaurant/ohjah-noodle-house-35-e-horizon-ridge-pkwy-ste-160-henderson/1121695)
    - This may, interestingly, be the same as the other Ohjah Noodle House listed above. Investigate further.
- Row 355635 (Cinnabon) [info](https://www.zomato.com/maricopa-county-az/scholtzskys-cinnabon-1-goodyear)
- Row 379703 (Thailicious Authentic Thai & Vegan) [info](https://www.yelp.com/biz/thailicious-authentic-thai-and-vegan-henderson?osq=thailicious)
- Row 391647 (Boss's Slow Smoked BBQ) [info](https://www.yelp.com/biz/bosss-slow-smoked-bbq-n-las-vegas)
- Row 415762 (Buon Gusto Ristorante) [info](https://www.yelp.com/biz/buon-gusto-ristorante-henderson)

## Creating My Target Column

In [8]:
# data['duplicate'] = data.duplicated(subset = ['latitude','longitude'], keep = False) 

# # keep = False labels everything that was duplicated as True (there's a duplicate of it in the data set)
# # creating another column is possible with keep = first if you want to leave the first duplicate labeled as an original just for a simple aggregation

# print(data['duplicate'].head())