# USE A BETTER NAME THAN THIS Otter Case Study Challenge

## Importing and Exploring the Data

In [1]:
import pandas as pd

In [2]:
original_dataset = pd.read_csv('css_public_all_ofos_locations.csv', 
                   sep = chr(1), 
                   low_memory = False)

In [3]:
original_dataset.head(3)

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
0,9744,Loco Coco,caviar,NaN,40.765004,-73.965961,NaN,US,TRUE,loco_coco,NaN,NaN,NaN
1,4903,Musubi,caviar,NaN,45.504641,-122.643806,NaN,US,FALSE,musubi,NaN,NaN,NaN
2,4723,The Bakers' Lounge,caviar,NaN,38.924559,-76.990115,NaN,US,FALSE,the_bakers_lounge,NaN,NaN,NaN

In [4]:
original_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644089 entries, 0 to 644088
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   restaurant_id      644089 non-null  object
 1   name               644086 non-null  object
 2   platform           644087 non-null  object
 3   sub_platform       599311 non-null  object
 4   latitude           644086 non-null  object
 5   longitude          644070 non-null  object
 6   city               56196 non-null   object
 7   country            644071 non-null  object
 8   active             643867 non-null  object
 9   standardized_name  643872 non-null  object
 10  restaurant_chain   169 non-null     object
 11  delivery_radius    354661 non-null  object
 12  geom               0 non-null       float64
dtypes: float64(1), object(12)
memory usage: 63.9+ MB

In [5]:
print('The provided data has {0} rows and {1} columns of restaurant data.'.format(
    original_dataset.shape[0], 
    original_dataset.shape[1])
     )

The provided data has 644089 rows and 13 columns of restaurant data.

In [6]:
### PSEUDOCODE 

# are there some visualizations i can include here?
# don't make visualizations needlessly, doesn't make sense unless it's actually useful

# AT THE END OF THE PROJECT WHAT IF I USED BASEMAP TO MAP THE BEFORE AND AFTER
# AND I CAN ALSO JUST CREATE A MAP WHERE ALL THE DATA POINTS ACTUALLY EXIST ON
# THINK MORE ABOUT THIS, THERE'S ROOM FOR SOMETHING REALLY VALUABLE WITH GRAPHING ACTUAL GEOLOGICAL POINTS

In [7]:
### PSEUDOCODE 

# DONE    look up the ones with missing name and fill it in, simple 
# DONE    for those missing lat 
# DONE    or long values, which isn't a lot, just research and fill it in
# do the same with country values, although a glance at those values might reveal most of them, if not all, are US so it won't matter for a model anyways
# take an individual look at those that are lableled chains and explore these a little

# secondary priorities are to look more deeply at sub platform and delivery radius


# AT THE END OF THIS PROJECT I WANT TO IMPLEMENT A ML ALGO ON A CLEAN DATASET AND THEN COMPARE IT TO THE 'CORRECT' VALUE THAT I DETERMINE WITH SIMPLE LABELING FROM LAT AND LONG DATA

### Creating a New Dataset

In [8]:
# to keep the original provided dataset unaltered
# I am making a copy of the data to use for data cleaning, pre-processing, etc

data = original_dataset.copy()

I want to check to see if I can manually insert the missing names of the 3 rows missing values in the 'name' column.

In [9]:
# using simple boolean indexing to examine the rows with missing values for the 'name' column

print(data[data['name'].isnull()])

                    restaurant_id name      platform sub_platform latitude  \
34794                        None  NaN  delivery.com          NaN      NaN
236516  Recreation & Wellness Ctr  NaN           NaN          NaN      NaN
316021                  Suite 112  NaN           NaN          NaN      NaN

       longitude city country active standardized_name restaurant_chain  \
34794        NaN  NaN      US  FALSE               NaN              NaN
236516       NaN  NaN     NaN    NaN               NaN              NaN
316021       NaN  NaN     NaN    NaN               NaN              NaN

       delivery_radius  geom
34794              NaN   NaN
236516             NaN   NaN
316021             NaN   NaN

#### Deleting Rows with Little to No Value

Because there is almost no other data I can use, such as latitude and longitude data, to determine what these restaurants may be, I am deleting these rows of data entirely from the dataset.

In [10]:
data.dropna(subset = ['name'], inplace = True)
data.reset_index(inplace = True, drop = True)

In [11]:
print('The dataset now has {0} rows and {1} columns of restaurant data.'.format(
    data.shape[0], 
    data.shape[1])
     )

The dataset now has 644086 rows and 13 columns of restaurant data.

#### Filling in Missing Latitude and Longitude Values

In [12]:
# checking what missing values may exist in the latitude column
# using simple boolean indexing to examine the rows with missing values for the 'latitude' column

print(data[data['latitude'].isnull()])

Empty DataFrame
Columns: [restaurant_id, name, platform, sub_platform, latitude, longitude, city, country, active, standardized_name, restaurant_chain, delivery_radius, geom]
Index: []

It appears that getting rid of the rows where the value in the 'name' column was missing also removed the rows that were missing latitude data.

In [13]:
# using the same method as above to examine the rows with missing values for the 'longitude' column

print('Only a few of the rows are displayed for easier viewing.\n')
print('--------------------------------------------------------\n')
print(data[data['longitude'].isnull()][:5])    # remove the indexing to see all rows with missing 'longitude' values

Only a few of the rows are displayed for easier viewing.

--------------------------------------------------------

                                            restaurant_id name  \
139275                                    20 Hugus Alley"  USD
187182                                           Ste 190"  USD
194074                                           Ste 170"  USD
201826  (b/t N P St & N Rhode Island Ave) in Logan Cir...  USD
204009                                           Ste 100"  USD

                                                 platform sub_platform  \
139275  [["open: 12:00, close: 18:00"], ["open: 12:00,...         TRUE
187182                       [[], [], [], [], [], [], []]        FALSE
194074  [["open: 12:00, close: 21:00"], ["open: 12:00,...         TRUE
201826  [["open: 12:00, close: 21:30"], ["open: 12:00,...         TRUE
204009  [["open: 12:00, close: 18:30"], ["open: 12:00,...         TRUE

                             latitude longitude  city country active  \
139275                      sugarfina       NaN  5.99     NaN     45
187182             ohjah_noodle_house       NaN  5.99     NaN     40
194074             novecento_pizzeria       NaN  5.99     NaN     50
201826  14th_street_cafe_asian_bistro       NaN  5.99     NaN     40
204009  straight_from_philly_steakout       NaN  5.99     NaN     45

       standardized_name restaurant_chain     delivery_radius  geom
139275               NaN               22  Los Angeles County   NaN
187182               NaN                8        Clark County   NaN
194074               NaN               24        Clark County   NaN
201826               NaN                1       United States   NaN
204009               NaN               20        Clark County   NaN

It appears that, for whatever reason, data was not input and/or collected properly for the data points above. The values within each column seem to be in the wrong place. However, I can simply:
- Look these restaurants up on the internet
- Fill in + replace the existing values with correct values

#### Correct Information for Restaurants
I'll be looking up the restaurants up by their names, which I am presuming are the values found in the 'latitude' column. I can confirm I am collecting information for the correct restaurants with the other information available (but misplaced) in the other columns.
- Row 139275 (Sugarfina) [info](https://www.yelp.com/biz/sugarfina-pasadena-pasadena-2)
- Row 187182 (Ohjah Nooodle House) [info](https://www.yelp.com/biz/ohjah-noodle-house-las-vegas-3)
- Row 194074 (Novecento Pizzeria) [info](https://www.yelp.com/biz/novecento-pizzeria-las-vegas)
- Row 201826 (14th St Cafe Asian Bistro) [info](https://www.yelp.com/biz/14th-st-cafe-asian-bistro-washington-2)
- Row 204009 (Straight From Philly Steakout) [info](https://www.yelp.com/biz/straight-from-philly-steakout-henderson-3)
- Row 229923 (Tumbao Buns - Downtown Miami) [info](https://www.yelp.com/biz/tumbao-buns-downtown-miami-miami-2)
    - The address found on the Yelp page doesn't match with the one provided on the data set. This is most likely due to the fact that this restaurant is technically a food truck, a mobile restuarant that can have different locations. The correct address is listed [here](https://postmates.com/merchant/tumbao-buns-miami)
- Row 250285 (Dunkin Donuts) [info](https://www.yelp.com/biz/dunkin-donuts-pompano-beach-7?osq=dunkin+donuts+locations)
- Row 294759 (Dos Coyotes Border Cafe) [info](https://www.grubhub.com/restaurant/dos-coyotes-border-cafe-8519-bond-rd-ste-100-elk-grove/1244011)
- Row 298938 (China One) [info](https://www.grubhub.com/restaurant/china-one-7080-n-durango-dr-ste-130-las-vegas/394082)
- Row 302088 (Fat Boy) [info](https://www.yelp.com/biz/fat-boy-henderson-2)
- Row 341276 (Au Bon Pain) [info](https://www.yelp.com/biz/au-bon-pain-chicago-14)
- Row 344993 (Ohjah Noodle House 2) [info](https://www.grubhub.com/restaurant/ohjah-noodle-house-35-e-horizon-ridge-pkwy-ste-160-henderson/1121695)
    - This may, interestingly, be the same as the other Ohjah Noodle House listed above. Investigate further.
- Row 355632 (Cinnabon) [info](https://www.zomato.com/maricopa-county-az/scholtzskys-cinnabon-1-goodyear)
- Row 379700 (Thailicious Authentic Thai & Vegan) [info](https://www.yelp.com/biz/thailicious-authentic-thai-and-vegan-henderson?osq=thailicious)
- Row 391644 (Boss's Slow Smoked BBQ) [info](https://www.yelp.com/biz/bosss-slow-smoked-bbq-n-las-vegas)
- Row 415759 (Buon Gusto Ristorante) [info](https://www.yelp.com/biz/buon-gusto-ristorante-henderson)

A closer look at our actual data set shows that the rows of data above are not unique data points but instead are repeats of rows directly preceding them.

In [14]:
print(data.iloc[250284:250286,:])

                               restaurant_id            name  \
250284  70f366b3-a6fd-4634-8e57-7364e8f23cd2  Dunkin' Donuts
250285                          Fl Turnpike"             USD

                            platform sub_platform       latitude  \
250284                     postmates   restaurant    28.51478909
250285  [[], [], [], [], [], [], []]        FALSE  dunkin_donuts

           longitude  city country active standardized_name restaurant_chain  \
250284  -81.49956571   NaN      US    NaN               NaN              NaN
250285           NaN  5.99     NaN     40               NaN              NaN

       delivery_radius  geom
250284             NaN   NaN
250285   Orange County   NaN

In [15]:
indices_missing_lat = [139275, 187182, 194074, 
                    201826, 204009, 229923, 
                    250285, 294759, 298938, 
                    302088, 341276, 344993, 
                    355632, 379700, 391644, 415759]

for index in indices_missing_lat:
    print(data.iloc[index - 1,1])

Sugarfina
Ohjah Noodle House
Novecento Pizzeria
14th Street Cafe Asian Bistro
Straight From Philly Steakout
Tumbao Buns
Dunkin' Donuts
Dos Coyotes Border Cafe
China One
Fat Boy
Au Bon Pain
Ohjah Noodle House #2
Cinnabon
Thailicious
Boss's Slow Smoked BBQ
Buon Gusto Ristorante

The simple solution is to remove the rows missing 'longitude' values, as they represent duplicate entries.

In [16]:
data.dropna(subset = ['longitude'], inplace = True)
data.reset_index(inplace = True, drop = True)

In [17]:
print('The dataset now has {0} rows and {1} columns of restaurant data.'.format(
    data.shape[0], 
    data.shape[1])
     )

The dataset now has 644070 rows and 13 columns of restaurant data.

#### A Quick Glance at Country Values

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644070 entries, 0 to 644069
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   restaurant_id      644070 non-null  object
 1   name               644070 non-null  object
 2   platform           644070 non-null  object
 3   sub_platform       599295 non-null  object
 4   latitude           644070 non-null  object
 5   longitude          644070 non-null  object
 6   city               56180 non-null   object
 7   country            644070 non-null  object
 8   active             643850 non-null  object
 9   standardized_name  643872 non-null  object
 10  restaurant_chain   154 non-null     object
 11  delivery_radius    354645 non-null  object
 12  geom               0 non-null       float64
dtypes: float64(1), object(12)
memory usage: 63.9+ MB

In [35]:
data['country'].describe()

count     644070
unique        27
top           US
freq      643890
Name: country, dtype: object

Most of the data points have 'US' listed in the 'country' column, so there would be value in examining the rows in which this is not the case.

In [37]:
not_us_data = data[data['country'] != 'US']

not_us_data

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
96549,",USD,[[""""open: 12:00","close: 20:30""""]","[""""open: 12:00","close: 20:30""""]","[""""open: 12:00","close: 20:30""""]","[""""open: 12:00","close: 20:30""""]","close: 20:30""""]","[""""open: 12:00","close: 19:30""""]]""",fish_dish,NaN
96958,",USD,[[""""open: 11:30","close: 20:00""""]","[""""open: 11:30","close: 20:00""""]","[""""open: 11:30","close: 20:00""""]","[""""open: 11:30","close: 20:00""""]","close: 20:00""""]","[]]""",TRUE,NaN,NaN
97841,",USD,[[""""open: 13:00","close: 23:00""""]","[""""open: 13:00","close: 23:00""""]","[""""open: 13:00","close: 23:00""""]","[""""open: 13:00","close: 23:00""""]","close: 00:00""""]","[""""open: 12:00","close: 23:00""""]]""",woodland,NaN
104012,",USD,[[]",[],[],[],[],[],"[]]""",FALSE,NaN,15049147544,NaN,45,NaN
104302,",USD,[[""""open: 17:00","close: 23:30""""]",[],"[""""open: 17:00","close: 23:00""""]","[""""open: 17:00","close: 23:00""""]","[""""open: 17:00","[]]""",TRUE,the_late_night_spot,5.99,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426413,",USD,[[""""open: 17:00","close: 19:00""""]","[""""open: 17:00","close: 19:00""""]","[""""open: 17:00","close: 19:00""""]","[""""open: 17:00","close: 19:00""""]","close: 21:30""""]","[]]""",TRUE,NaN,NaN
428302,",USD,[[]",[],[],[],[],[],"[]]""",FALSE,NaN,17025793017,NaN,55,NaN
431379,",USD,[[""""open: 14:00","close: 22:00""""]","[""""open: 14:00","close: 22:00""""]","[""""open: 14:00","close: 22:00""""]","[""""open: 14:00","close: 22:00""""]","close: 22:00""""]","[]]""",TRUE,NaN,NaN
433563,",USD,[[]","[""""open: 17:00","close: 20:00""""]","[""""open: 17:00","close: 20:00""""]","[""""open: 18:30","close: 20:30""""]","[""""open: 17:00","[""""open: 17:00","close: 20:00""""]]""",TRUE,NaN,NaN
440752,",USD,[[""""open: 11:00","close: 20:00""""]","[""""open: 11:00","close: 20:00""""]","[""""open: 11:00","close: 20:00""""]","[""""open: 11:00","close: 20:00""""]","close: 20:00""""]","[""""open: 12:30","close: 20:00""""]]""",l_l_hawaiian_bbq,NaN

It seems possible that the rows of data that don't state 'US' in the country column are also filled with data that was entered or collected incorrectly. 

Upon observation, there seems to be a mix of restaurant hours, names, delivery radii, booleans, and NaNs found throughout this data.

In [39]:
((644070 - 643890) / 644070) * 100

0.02794727281196143

For the sake of time, because only 0.03% of the data is mislabeled as such, the appropriate solution at this time is to simply remove these data points.

In [40]:
data = data[data['country'] == 'US']

print('The dataset now has {0} rows and {1} columns of restaurant data.'.format(
    data.shape[0], 
    data.shape[1])
     )

The dataset now has 643890 rows and 13 columns of restaurant data.

# pick up here to start examining latitude and longitude weird values

In [41]:
data['latitude'].value_counts(dropna = False).sort_values(ascending = False)

-90            1683
40.76264579     101
42.825685        80
34.0397099       67
35.27982         66
               ...
39.186713         1
31.78534508       1
40.8413658        1
40.7472286        1
37.6945273        1
Name: latitude, Length: 544594, dtype: int64

In [29]:
lat_90 = data[data['latitude'] != -90]

print(lat_90.head())

  restaurant_id                      name platform sub_platform   latitude  \
0          9744                 Loco Coco   caviar          NaN  40.765004
1          4903                    Musubi   caviar          NaN  45.504641
2          4723        The Bakers' Lounge   caviar          NaN  38.924559
3          4128  Parm - Battery Park City   caviar          NaN   40.71418
4          5690       Derek Test Merchant   caviar          NaN          1

     longitude city country active         standardized_name restaurant_chain  \
0   -73.965961  NaN      US   TRUE                 loco_coco              NaN
1  -122.643806  NaN      US  FALSE                    musubi              NaN
2   -76.990115  NaN      US  FALSE         the_bakers_lounge              NaN
3   -74.015568  NaN      US   TRUE  parm_-_battery_park_city              NaN
4            2  NaN      US  FALSE       derek_test_merchant              NaN

  delivery_radius  geom
0             NaN   NaN
1             NaN   NaN
2             NaN   NaN
3             NaN   NaN
4             NaN   NaN

In [42]:
data['longitude'].value_counts(dropna = False).sort_values(ascending = False)

0               1722
-73.96918505     101
-118.298741      100
-73.879458        80
-118.2987956      67
                ...
-104.998558        1
-118.072552        1
-111.9398829       1
-111.495763        1
-80.098079         1
Name: longitude, Length: 541745, dtype: int64

In [21]:
long_90 = data[data['longitude'] == -73.942663]

long_90.head(10)

Empty DataFrame
Columns: [restaurant_id, name, platform, sub_platform, latitude, longitude, city, country, active, standardized_name, restaurant_chain, delivery_radius, geom]
Index: []

## Creating My Target Column

In [22]:
# data['duplicate'] = data.duplicated(subset = ['latitude','longitude'], keep = False) 

# # keep = False labels everything that was duplicated as True (there's a duplicate of it in the data set)
# # creating another column is possible with keep = first if you want to leave the first duplicate labeled as an original just for a simple aggregation

# print(data['duplicate'].head())