In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('css_public_all_ofos_locations.csv', 
                   sep = chr(1), 
                   low_memory = False)

In [3]:
data.head(3)

,restaurant_id,name,platform,sub_platform,latitude,longitude,city,country,active,standardized_name,restaurant_chain,delivery_radius,geom
0,9744,Loco Coco,caviar,NaN,40.765004,-73.965961,NaN,US,TRUE,loco_coco,NaN,NaN,NaN
1,4903,Musubi,caviar,NaN,45.504641,-122.643806,NaN,US,FALSE,musubi,NaN,NaN,NaN
2,4723,The Bakers' Lounge,caviar,NaN,38.924559,-76.990115,NaN,US,FALSE,the_bakers_lounge,NaN,NaN,NaN

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644089 entries, 0 to 644088
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   restaurant_id      644089 non-null  object
 1   name               644086 non-null  object
 2   platform           644087 non-null  object
 3   sub_platform       599311 non-null  object
 4   latitude           644086 non-null  object
 5   longitude          644070 non-null  object
 6   city               56196 non-null   object
 7   country            644071 non-null  object
 8   active             643867 non-null  object
 9   standardized_name  643872 non-null  object
 10  restaurant_chain   169 non-null     object
 11  delivery_radius    354661 non-null  object
 12  geom               0 non-null       float64
dtypes: float64(1), object(12)
memory usage: 63.9+ MB

In [ ]:
### PSEUDOCODE 

# look up the ones with missing name and fill it in, simple 
# for those missing lat or long values, which isn't a lot, just research and fill it in
# do the same with country values, although a glance at those values might reveal most of them, if not all, are US so it won't matter for a model anyways
# take an individual look at those that are lableled chains and explore these a little

# secondary priorities are to look more deeply at sub platform and delivery radius

In [16]:
data['duplicate'] = data.duplicated(subset = ['latitude','longitude'], keep = False) 

# keep = False labels everything that was duplicated as True (there's a duplicate of it in the data set)
# creating another column is possible with keep = first if you want to leave the first duplicate labeled as an original just for a simple aggregation

print(data['duplicate'].head())

0     True
1    False
2    False
3     True
4     True
Name: duplicate, dtype: bool